@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');

body{
    background:linear-gradient(to top, rgb(139, 236, 236),rgb(66, 151, 185), rgb(3, 11, 55));
    font-family: 'Big Shoulders Display', sans-serif;
}
.center{
    background-color: rgba(98, 97, 102, 0.257) ;
    border: 2px rgb(85, 135, 182);
}